body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    background-color: #f3f3f3;
    margin-top: 50px;
}



.contact-container {
    text-align: center;
    margin: auto;
    width: 767px;
    color: #003a8b;
    font-weight: 400;
}
.contact-container p {
    color: black;
}

.contact-container img {
    width: 40px;
}

.info-container {
    background-color: white;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    height: 100%;
    box-shadow: 0 4px 12px #858585;
    border-radius: 10px;
}

.first-name,
.second-name,
.mail,
.num,
.message,
.message-purpose {

    padding: 20px;
    color: #003a8b;
    font-weight: 800;
}
input {
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
}

textarea {
    display: block;
    width: 100%;
    height: 90px;
    margin-top: 10px;
    padding: 10px;
}

#purpose-id {
    display: block;
    width: 50%;
    height: 40px;
    padding-left: 10px;
    margin-top: 10px;
    color: #00003f;
}

.contact-send-button {
    margin-left: 20px;
    padding: 5px;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: #003a8b;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.down-part {
    display: flex;
    width: 1000px;
    margin: auto;
    margin-top: 60px;
    text-align: center;

}

.down-part img {
    width: 50px;
}

.visit-us,
.call-us,
.email-us {
    width: 300px;
    margin: auto;
    height: 350px;
    padding: auto;
}

.info-container :placeholder-shown {
    padding-left: 10px;
}