* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.blue-background {
    background-color: #226597;
    width: 90%;
    min-height: 100vh;
    margin-top: 30px;
    box-shadow: 0 3px 20px rgba(1 1 1 / 75%);
    text-align: center;
    padding: 20px;
    border-radius: 70px;
}

.doc-icon {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 200px;
    color: #F3F9FB;
}

.doc-text {
    color: #F3F9FB;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 700;
    display: inline-block;
    justify-content: center;
    margin-top: 25px;
}

.doc-text span {
    color: #F3F9FB;
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 700;
}

.doc-text .title h2 {
    font-size: 21px;
    letter-spacing: 4px;
    padding: 2px;
    margin: 2px;
}

.title:hover {
    transition: .5s ease;
    transform: scale(1.1);
    color: #87C0CD;
}

.social-icons {
    display: flex;
    justify-content: center;
    font-size: 17px;
    padding: 10px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons:hover {
    transform: scale(1.1);
    transition: .5s ease;
}

.about {
    color: #F3F9FB;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.doc-name {
    font-weight: bold;
    font-size: 30px;
}

.hr,
.hr2 {
    border: none;
    height: 4px;
    /* background-color: #F3F9FB;    */
    background: linear-gradient(to right, transparent, #F3F9FB, transparent);
    margin: 20px auto 0;
    width: 50%;
}

.doc-bio p {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    color: #F3F9FB;
    font-size: 25px;
    width: 75%;
    line-height: 1.6;
    opacity: .95;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.doc-card {
    background-color: #F3F9FB;
    width: 21.25em;
    margin-top: 30px;
    margin-right: 25px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 0 3px 10px rgba(1 1 1 / 50%);
}

.doc-card:hover {
    transform: scale(1.05);
    transition: .5s ease;

    .doc-card-icon,
    .doc-card-info h3 {
        transition: .5s ease;
        color: #113F67;
    }

    .book-btn {
        background-color: #113F67;
        transition: .5s ease;
    }
}

.doc-card-icon {
    color: #226597;
    font-size: 7em;
    padding-top: 20px;
}

.doc-card-info h3 {
    color: #226597;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.doc-card-info p {
    font-size: 20px;
    line-height: 1.3;
    margin: 5px 5px 20px;
}

.doc-card-info .clinic-name {
    color: #226597;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.book-btn {
    text-decoration: none;
    background-color: #226597;
    color: #F3F9FB;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    font-size: 1.5em;
    margin: -5px;
}

.doc-card-info a:hover {
    transform: scale(1.1);
    transition: .5s ease;
}