* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body{
    scroll-behavior: smooth;
    background-image: url('/images/pediatrician1background.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;  
    background-attachment: fixed; 
}
html {
    overflow-x: hidden;
}
